<!DOCTYPE html>
<html>

<head>
  <title>Welcome</title>  
</head>

<body>
  <div class="welcome">
    <center>
      <h1>
        <font size="13" color="black">
           Welcome
        </font>
      </h1>
    </center>
  </div>

  <center>
    <hr>
  </center>

  <center>
    <a href="/logout">Logout</a>
  </center>
  <h1>Diary</h1>
    <div>
        <input type="text" id="name" placeholder="Fill in the task name"><br>
        <input type="date" id="date" placeholder="Fill in the date"><br>
        <button id="confirm">Save task</button>
    </div>
    <div id="task-list">

    </div>
    <script src="js/Diary.js"></script>
    <script src="js/Entry.js"></script>
    <script src="js/app.js"></script>

  <div class="breaker">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>

  <div class="footer">
    <footer style="position: fixed; left: 2; right: 2; width: 95%; bottom: 0;">
      <center>
        This webpage is only accessible behind a User Web Login System written in Python
      </center>
    </footer>
  </div>
</body>

</html>